<div class="container">

  <div class="title">
    <h1>{{title}}</h1>
  </div>
  
  <div class="input">
    <input type="text" placeholder="NUEVA TAREA" #tarea />
    <br><br>
    <!--Evento click (tarea.value) para obtener el valor del input-->
    <button class="add" (click)="addTask(tarea.value)">ADD</button>
  </div>
  
  <br>
  
  <h2>YOUR LIST</h2>
  <div class="list">
    <ul *ngFor="let item of list"><!--Sacar lo que hay en la lista (app.component.ts)-->
      <li>
        {{item.name}}
        <button (click)="removeTask(item.id)">DONE ✅</button>
      </li>
    </ul>
  </div>
  
</div>